ansible==8.5.0
ansible-core==2.15.5
argcomplete==3.1.4
blinker==1.7.0
cffi==1.16.0
click==8.1.7
cryptography==41.0.5
dbus-python==1.2.18
Flask==3.0.0
Flask-SQLAlchemy==3.1.1
gpg==1.15.1
greenlet==3.0.1
importlib-metadata==6.8.0
importlib-resources==5.0.7
itsdangerous==2.1.2
Jinja2==3.1.2
libcomps==0.1.18
MarkupSafe==2.1.3
nftables==0.1
packaging==23.2
pipx==1.2.1
pycparser==2.21
PyGObject==3.40.1
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==6.0.1
resolvelib==1.0.1
rpm==4.16.1.3
selinux==3.4
six==1.15.0
SQLAlchemy==2.0.23
typing_extensions==4.8.0
userpath==1.9.1
Werkzeug==3.0.1
zipp==3.17.0
