<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-offline/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='icons/css2.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="{{ url_for('static', filename='reset.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <script src="{{ url_for('static', filename='js/prefixfree.min.js') }}"></script>
    <title>Ansible Inventory</title>

</head>

<body> 
    <div>
        <div class="row">
            <div id="envanter" class="table-responsive-lg col" >1. KISIM
                <table id="envanter_table" class="table">
                    <tr>
                        <th>ID</th>
                        <th>Hostname</th>
                        <th>Location</th>
                        <th>LVL</th>
                        <th>Port</th>
                        <th>Description</th>
                    </tr>
                    {% for row in data %}
                    <tr>
                        <td id="ID.ID{{ row[0] }} ">{{ row[0] }}</td>
                        <td id="Hostname.ID{{ row[0] }}">{{ row[1] }}</td>
                        <td id="Location.ID{{ row[0] }}">{{ row[2] }}</td>
                        <td id="LVL.ID{{ row[0] }}">{{ row[3] }}</td>
                        <td id="Port.ID{{ row[0] }}">{{ row[4] }}</td>
                        <td id="Description.ID{{ row[0] }}">{{ row[5] }}</td>
                        <td><input id="checkbox.ID{{ row[0] }}" class="form-check-input flex-shrink-0" type="checkbox" name=data-checkbox
                                value="{{ row[0] }};{{ row[1] }};{{ row[2] }};{{ row[3] }};{{ row[4] }};{{ row[5] }}">
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div>
                <nav class="navbar">
                    <ul class="navbar__menu">
                    </li>
                    <li id="deselectall_view" class="navbar__item">
                    <a href="#" class="navbar__link"><i data-feather="rewind"></i><span>Deselect</span></a>
                    </li>
                    <li id="selectall_view" class="navbar__item">
                        <a href="#" class="navbar__link"><i data-feather="fast-forward"></i><span>Select</span></a>
                    </li>
                        <li id="deselectall" class="navbar__item">
                            <a href="#" class="navbar__link"><i data-feather="trash-2"></i><span>Deselect All</span></a>
                        </li>
                        <li id="selectall" class="navbar__item">
                            <a href="#" class="navbar__link"><i data-feather="check-square"></i><span>Select All</span></a>

                        <li class="navbar__item"  data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                            <a href="#" class="navbar__link"><i data-feather="save"></i><span>Save</span></a>
                        </li>
                        <li id="host_button" class="navbar__item" data-toggle="modal" data-target="#hosts_view" data-whatever="@getbootstrap">
                            <a href="#" class="navbar__link"><i data-feather="file-text"></i><span>Hosts</span></a>
                        </li>
                        <li class="navbar__item">
                            <a href="#" class="navbar__link"><i data-feather="users"></i><span>Customerdd dsdsss</span></a>
                        </li>

                    </ul>
                </nav>
            </div>

            <div id="selected" class="col">seçilenler
                <table id="selected_table" class="table table-dark  col md-6">
                    <tr>
                        <th>ID</th>
                        <th>Hostname</th>
                        <th>Location</th>
                        <th>LVL</th>
                        <th>Port</th>
                        <th>Description</th>
                    </tr>
                    <tbody id="table-selected">
                    <!-- javascript ile checkbox işaretli veriler buraya doldurulur -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Save</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="node-name" class="col-form-label">Node Name</label>
                <input id="nodename" type="text" class="form-control" value="">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="convertYamlButton" type="button" class="btn btn-primary">Save to Hosts Yaml</button>
            <button id="convertiniButton" type="button" class="btn btn-primary">Save to etc/ansible/hosts</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="hatali_kayit" tabindex="-1" aria-labelledby="hatali_kayit_Label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="hatali_kayit_Label">Save</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p>Node <span id="dynamicVariable">abcd</span> already exists. Do you want to overwrite on it?</p>
              </div>
              
            <div class="modal-footer">
              <button id="close_for_type2" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button id="overwrite" type="button" class="btn btn-primary">Overwrite</button>
              <button id="savetotemp" type="button" class="btn btn-primary">Save as temp</button>
            </div>
          </div>
        </div>
      </div>
    

<!-- Modal HTML kodu -->
<div class="modal fade" id="hosts_view" tabindex="-1" aria-labelledby="hosts_view_Label" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="hosts_view_Label">Hosts File</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <p id="hosts_content">Loading hosts...</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>


    <script src="{{ url_for('static', filename='feather-icons') }}"></script>
    <script src="{{ url_for('static', filename='js/TableFilter/tablefilter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/TableFilter/tablefilter_all_min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script2.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-offline/js/jquery-3.6.0.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-offline/js/bootstrap.js') }}"></script>

</body>

</html>